<h3>Dublin Vinyls</h3>

<p><h4><u>Opening Times</u></h4>
Monday: 9am - 6pm <br>
Tuesday: 9am - 6pm <br>
Wednesday: 9am - 6pm<br>
Thurday: 9am - 8pm<br>
Friday: 9am - 5pm <br>
Saturday: Closed <br>
Sunday: Closed<br><br><br></p>

<p><b><h6>Check out our shop in town</b></h6>
<h6>===========================</h6></p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.0698954969725!2d-6.263798999999977!3d53.34200500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9c4d7ccc85%3A0x451d74e88a5d109a!2sThe+RAGE-Record+Art+Game+Emporium!5e0!3m2!1sen!2sie!4v1424796356473" width="600" height="450" frameborder="0" style="border:0"></iframe><br><br><br></p>