<%= image_tag("dublinVinyls.png", :size => "700x250") %>

<p>Welcome to Dublin Vinyls. We offer an online store to find those vinyls you desperately need.</p>

<p>Feel free to browse our catalogue and order some of our fine merchandise.</p>

<p>Can't find what you want? Drop us a mail by clicking on the 'Contact Us' link above.</p>

<p>Happy shopping. Dublin Vinyls.</p>


